*{
    margin: 0;
    padding: 0;
}
#map{
    width: 100%;
    height: 600px;
}

#saveok {
    position:absolute;
    left: 15px;
    bottom: 0;
}
#downdiv{

    position:absolute;
    left: 100px;
    bottom: 50px;

}